<nav
  class="navbar navbar-expand-lg navbar-light bg-white shadow-sm"
  *ngIf="showMenu()"
>
  <div class="container container-fluid">
    <a class="navbar-brand" routerLink="home">
      <i class="fa fa-calendar-alt fa-lg"></i>
    </a>
    <button
      class="navbar-toggler"
      (click)="isCollapsed = !isCollapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [collapse]="isCollapsed"
      [isAnimated]="true"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <ng-container *ngIf="(accountService.currentUser$ | async) !== null">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="dashboard"
              >Dashboard</a
            >
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="eventos/lista"
              >Eventos</a
            >
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="palestrantes">Palestrantes</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="contatos">Contatos</a>
          </li>
        </ng-container>
      </ul>
      <div *ngIf="!usuarioLogado" class="navbar-nav ms-auto me-3 d-xs-none d-none d-md-block">
        <a class="btn btn-light me-2 border" routerLink="/user/login">Entrar</a>
        <a class="btn btn-warning" routerLink="/user/registration">Me Cadastrar</a>
      </div>
      <ul *ngIf="usuarioLogado" class="navbar-nav ms-auto">
        <li class="nav-item dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user">
          <button
            dropdownToggle
            type="button"
            class="btn btn-light dropdown-toggle"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-controls="dropdown-animated"
          >
            <a>
              <img
                src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                name="aboutme"
                width="28"
                height="28"
                class="rounded-circle"
              />
            </a>
            {{ user.userName }}
          </button>
          <ul
            id="dropdown-animated"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right"
            role="menu"
            aria-labelledby="button-animated"
          >
            <li role="menuitem" routerLinkActive="active">
              <a class="dropdown-item" routerLink="user/perfil"><i class="fa fa-id-card me-1"></i>Perfil</a>
            </li>
            <li role="menuitem" routerLinkActive="active">
              <a (click)="logout()" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-sign-out-alt me-1"></i>Sair</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
